<h1>Sign up</h1>

<form ng-submit="submit()">
  <p>
    <label for="email">Email</label>
    <input type="email" id="email" ng-model="formData.email">
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" id="password" ng-model="formData.password">
  </p>

  <p>
    <label for="password">Password Confirmation</label>
    <input type="password" id="password" ng-model="formData.password_confirmation">
  </p>

  <p>
    <button type="submit">Sign up</button>
  </p>
</form>
