<!DOCTYPE html>
<html lang="en" ng-app="beakerApp">
  <head>
    <title><%= t('.title') %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body ng-cloak ng-controller="ApplicationCtrl">

    <div ng-view>
      <%= render 'layouts/flash_messages' %>
      <%# yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
